{
  email {$ACME_EMAIL}
  admin off
}

{$DOMAIN} {
  encode zstd gzip

  @api path /api/* /docs* /openapi.json
  handle @api {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:3000
  }

  tls {$ACME_EMAIL}
}

